#preview {
    & canvas {
        max-height: 600px;
        border: 5px solid var(--text-2);
        border-radius: 12px;
    }
}

#preview-content {
    display: flex;
    flex-direction: column;
    gap: 8.67px;
}

#preview-canvas-container {
    position: relative;
}

#preview-canvas-image-format {
    position: absolute;
    bottom: 15px;
    right: 10px;
    padding: 3px 5px;
    border-radius: 5px;
    color: var(--text);
    background: rgba(0, 0, 0, .467);
    transition: .2s ease background;

    &:hover {
        background: rgba(0, 0, 0, .567);
    }
}

#preview-canvas-buttons {
    display: flex;
    gap: 10px;

    & > button {
        font-family: var(--default-font);
        padding: 7px 15px;
        font-size: 24px;
        border-radius: 8px;
        transition: .2s ease background;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7.67px;
    }
}

#preview-download-btn {
    color: var(--text);
    background: var(--text-2);
    border: 3px solid var(--text-4);

    &:hover {
        background: color-mix(in srgb, var(--text-2) 100%, var(--base) 3%);
    }
}

#preview-layout-btn {
    background: var(--blue);
    border: 3px solid var(--brblue);
    color: var(--text);

    &:hover {
        background: color-mix(in srgb, var(--blue) 100%, var(--base) 3%);
    }
}