#preview {
    & h2 {
        color: var(--text-2);
        font-size: 28px;
    }

    & canvas {
        max-height: 600px;
        border: 5px solid var(--text-2);
        border-radius: 12px;
    }
}

#preview-canvas-container {
    position: relative;
}

#preview-canvas-image-format {
    position: absolute;
    bottom: 15px;
    right: 10px;
    padding: 3px 5px;
    border-radius: 5px;
    color: var(--text);
    background: rgba(0, 0, 0, .467);
    transition: .2s ease background;

    &:hover {
        background: rgba(0, 0, 0, .567);
    }
}

#preview-download-btn {
    font-family: var(--default-font);
    color: var(--text);
    background: var(--text-2);
    border: 3px solid var(--text-4);
    padding: 7px 15px;
    font-size: 24px;
    border-radius: 8px;
    transition: .2s ease background;

    &:hover {
        background: color-mix(in srgb, var(--text-2) 100%, var(--base) 3%);
    }
}