#stats {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--base);
    font-family: var(--default-font);
    padding: 50px;
    gap: 30px;

    & h1 {
        font-size: 48px;
        line-height: 100%;
    }

    & > header {
        display: flex;
        align-items: center;
        gap: 25px;
        color: var(--text-2);

        & > div:not(#avatar) {
            display: flex;
            flex-direction: column;
            
            & > span {
                font-size: 20px;
            }
        }
    }

    & > main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;

        & .stats-row {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;

            & > section {
                display: flex;
                flex-direction: column;
                gap: 3px;
                
                & > h2 {
                    color: var(--text-2);
                }

                & > div:not(.card, #heatmap) {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    gap: 20px;

                    & > div {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px 20px;
                    }
                }
            }
        }
    }
}

#avatar {
    position: relative;

    & #avatar-img {
        height: 125px;
        border-radius: 100%;
        border: 10px solid var(--red);
    }

    & #avatar-hat {
        position: absolute;
        height: 130px;
        top: -50px;;
        left: -24px;
    }
}

#projects-grid {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;

    @media (max-width: 600px) {
        display: flex !important;
    }
}

#top-project > .card {
    width: 364px;
    padding: 10px;
    align-items: flex-start;
    overflow: scroll;
    gap: 0;

    & > .divider {
        margin: 5px 0;
    }
    
    & > #top-project-title {
        color: var(--text-2);
        font-size: 30px;
    }

    & > #top-project-description {
        color: var(--text-3);
        font-size: 22px;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
    }

    & #top-project-stats {
        color: var(--text-2);
        font-size: 22px;
        line-height: 100%;
        margin: 0 auto;
    }
}

#heatmap {
    background: var(--overlay-2);
    padding: 15px 15px;
    border-radius: 8px;
    min-width: 300px;
    max-width: 600px;
    box-shadow: var(--default-shadow);

    & > #heatmap-grid {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(5, 1fr);
        width: fit-content;
        gap: 4px;

        & > div {
            position: relative;
            border-radius: 3px;
            height: 25px;
            width: 25px;

            &::before {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                border: 1px solid var(--overlay);
                opacity: .5;
                border-radius: 3px;
            }
        }
    }
}

#tooltip {
    position: fixed;
    background: var(--overlay-2);
    padding: 5px 10px;
    border: 2px solid var(--overlay);
    border-radius: 8px;
    color: var(--text-2);
}

#download-card-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: var(--default-font);
    color: var(--text);
    background: var(--text-2);
    border: 3px solid var(--text-4);
    font-size: 28px;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 8px;
    transition: .2s ease background;

    &:hover {
        background: color-mix(in srgb, var(--text-2) 100%, var(--base) 3%);
    }
}