.card {
    background: var(--overlay-2);
    padding: 10px 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: 28px;
    border-radius: 8px;
    box-shadow: var(--default-shadow);

    & > .card-first {
        color: var(--text-2);
    }

    & > .divider {
        height: 2px;
        border-radius: 3px;
        width: 100%;
        background: var(--text-2);
    }

    & > .card-second {
        color: var(--text-3);
    }
}