#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 10px;
    background: var(--base);
    z-index: 0;

    & svg {
        transition: .2s ease stroke;
    }

    & > header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
    }

    & > main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        & h2 {
            font-family: var(--default-font);
            font-size: 32px;
            color: var(--text-2);
        }
    }

    & > footer {
        display: flex;
        margin-top: auto;
        justify-content: right;

        & svg {
            stroke: var(--text-3);

            &:hover {
                stroke: var(--text-2)
            }
        }
    }
}

#app-title {
    position: relative;
}

#app-title-surface {
    position: relative;
    font-family: var(--default-font);
    color: var(--text);
    border-radius: 10px;
    font-size: 48px;
    background: var(--blue);
    padding: 5px 70px;
    z-index: 1;
}

#app-title-back {
    position: absolute;
    height: 115%;
    width: 85%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 10px;
    z-index: 0;
    background: var(--brblue);
}

#input-wrapper {
    display: flex;
    flex-direction: column;
}

#user-input {
    height: 75px;
    border: 4px solid var(--overlay);
    background: var(--overlay-2);
    border-radius: 10px;
    padding: 10px;
    font-family: var(--default-font);
    font-size: 36px;
    color: var(--text-3);
    transition: .3s ease border-color;
    width: min(600px, 90vw);

    &:focus {
        outline: none;
        border-color: var(--text-2);
    }

    &:hover {
        border-color: var(--text-2);
    }
}

#search-results {
    background: var(--overlay-2);
    border: 4px solid var(--overlay);
    border-radius: 10px;
    width: min(600px, 90vw);
    max-height: 500px;
    transition: .3s ease border-color;
    overflow: hidden;
    overflow: scroll;

    & > li {
        list-style: none;
        display: flex;
        flex-direction: column;

        & > ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            transition: .2s ease background-color;
            font-family: var(--default-font);
            font-size: 36px;
            color: var(--text-3);
            padding: 15px;

            & > div {
                display: flex;
                align-items: center;
                gap: 12px;
            }

            & > span {
                font-size: 24px;
            }

            &:hover {
                background-color: color-mix(in srgb, var(--overlay-2) 100%, black 20%);
            }
        }
    }

    & img {
        width: 64px;
        border-radius: 100%;
    }

    &:hover {
        border-color: var(--text-2);
    }
}

#results-not-found, #results-loading {
    padding: 15px;
    font-family: var(--default-font);
    color: var(--text-3);
    font-size: 36px;
}

#orpheus-flag {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 3;
    width: 250px;
}

@media screen and (max-width: 1000px) {
    #orpheus-flag {
        display: none;
    }
}