#app {
    min-height: 100vh;
    padding: 10px;
    background: var(--base);
    z-index: 0;

    & > header {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 15vh;
    }
}

#app-title {
    position: relative;
}

#app-title-surface {
    position: relative;
    font-family: var(--default-font);
    color: var(--text);
    border-radius: 10px;
    font-size: 48px;
    background: var(--blue);
    padding: 5px 70px;
    z-index: 1;
}

#app-title-back {
    position: absolute;
    height: 115%;
    width: 85%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 10px;
    z-index: 0;
    background: var(--brblue);
}