*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --default-font: "Jua", system-ui;
  --default-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);

  --base: #E7D4B1;
  --overlay: #D7B593;
  --overlay-2: #F8E9D3;
  --text: #F8E9D3;
  --text-2: #4E2C33;
  --text-3: #7B4942;
  --text-4: #AD7858;
  --green: #73A542;
  --brgreen: #D0DA90;
  --red: #BA4A51;
  --brred: #F4B19F;
  --blue: #3D5E8A;
  --brblue: #4F8FBA;
}

button {
  background: unset;
  border: unset;
  cursor: pointer;
}

.noto-emoji {
  font-family: "Noto Emoji", system-ui;
  font-weight: 1000;
}